WEBHOOK_COINBASE=<WEBHOOK_COINBASE_VALUE>


COINBASE_API_KEY=<COINBASE_API_KEY_VALUE>
COINBASE_API_SECRET=<COINBASE_API_SECRET_VALUE>
COINBASE_API_VERSION=<COINBASE_API_VERSION_VALUE>




COINBASE_CLOUD_API_KEY_NAME=<COINBASE_CLOUD_API_KEY_NAME_VALUE>
COINBASE_CLOUD_API_SECRET=<COINBASE_CLOUD_API_SECRET_VALUE>



DATABASE_URL=<DATABASE_URL_VALUE>
